::ng-deep .mat-select-arrow-wrapper, .mat-select-arrow{
    display: none !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none;
} 

li{
    list-style: none;
    margin: 0 20px;
}