<app-navigation></app-navigation>
<app-navbarPanel></app-navbarPanel>

<div class="px-4">
  <div class="mt-5">
    <h1> DROP DOWN WITH TABLE </h1>
    <div class="mt-3">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" aria-expanded="false"
        (click)="openFilter()">
        Filter
      </button>

      <table (mouseleave)="closeDropdown()" id="myselector" mat-table [dataSource]="routeFoodData"
        class="table-con col-2 border border-danger " [ngClass]="{'visible': !isDisplayNone, 'd-none': isDisplayNone}">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            {{element.id}}
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> value </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            {{element.value}}
          </td>
        </ng-container>

        <ng-container matColumnDef="viewValue">
          <th mat-header-cell *matHeaderCellDef> viewValue </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index">
            {{element.viewValue}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedSelect; sticky: true"></tr>
        <tr *matNoDataRow>
          <th colspan="9">
            <span>No rows found</span>
          </th>
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedSelect;" class="route" (click)="highlight($event)">
        </tr>
      </table>
    </div>
  </div>

  <div class="mt-3">
    <h1> CHIPS FEATURE</h1>

    <mat-form-field class="example-chip-list col-6" appearance="fill">
      <mat-label>Favorite Fruits</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
          {{fruit}}
          <button matChipRemove>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
              class="bi bi-x-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
            </svg>
          </button>
        </mat-chip>
        <input placeholder="..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="mt-3">

    <h1>Sidebar menu items</h1>

    <div class="mx-4">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="mb-5">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          {{node.title}} {{node.url}}
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.title">

          {{node.title}}

          <svg *ngIf="!treeControl.isExpanded(node)" style="color: #146F90; margin-left: 1% !important; "
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill"
            viewBox="0 0 16 16">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg>

          <svg *ngIf="treeControl.isExpanded(node)" style="color: #146F90; margin-left: 1% !important;"
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill"
            viewBox="0 0 16 16">
            <path
              d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
          </svg>

        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
</div>

