<div class=" py-4 ">
  <div class="mb-3 row justify-content-between" style="margin: 0;">

    <div class="col-lg-3 ">
      <div class="field ">
        <input type="text" (keyup)="applyFilter($event)" #input id="search" name="search" />
        <label for="search" title="Search" data-title="Search"></label>
      </div>
    </div>

    <div class="col-lg-3 ">
      <div class="field ">
        <input type="text" (keyup)="applyFilterSecond($event)" #input id="search" name="search" />
        <label for="search" title="Search" data-title="Search"></label>
      </div>
    </div>

  </div>


  <div cdkDropListGroup class="row " style="margin: 0;">

    <div class="px-3 col-lg-6">
      <div class="list-container mat-elevation-z8 " style="padding: 0; margin: 0;">
        <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo; let i = index" cdkDrag>
              {{i+1}} -  {{item.order}} {{item.wagon}} 
            </div>
        </div>
      </div>
    </div>

    <div class="px-3 col-lg-6">
      <div class="list-container mat-elevation-z8 " style="padding: 0;margin: 0;">
        <div  cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done; let j = index" cdkDrag >
            {{j+1}} {{item.order}} {{item.wagon}} 
          </div> 
        </div>
      </div>
    </div>
  </div>






</div>
