<div class=" py-4 ">

  <div cdkDropListGroup class="row " style="margin: 0;">

    <div class="px-3 col-lg-6">
      <div class="list-container mat-elevation-z8 " style="padding: 0; margin: 0;">
        <div class="pt-2 cardHeader">
          <span class="ps-2" style="font-size: 22px; font-weight: bolder; color: rgb(105, 105, 105);"> Order № : 2301-0001</span>


          <div class="field">
            <input type="text" [(ngModel)]="filterValue" (keyup)="applyFilter($event)" #input id="search"
              name="search" />
            <label for="search" title="Search" data-title="Search"></label>
          </div>
        </div>

        <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo; let i = index" cdkDrag>

            <div class="row col-lg-12" style="margin: 0;">
              <div class="col-lg-1">
                <span class="" style="color: darkorange; font-weight: bolder;">{{i+1}}.</span>
              </div>

              <!-- <div class="col-lg-3">
                <span class="col-lg-6" style="color: darkorange; font-weight: bolder;">Order № : </span> {{item.order}}
              </div> -->

              <div class="col-lg-3">
                <span style="color: darkorange; font-weight: bolder;">Overhead : </span> {{item.overhead}}
              </div>

              <div class="col-lg-3">
                <span style="color: darkorange; font-weight: bolder;">Wagon № : </span> {{item.wagon}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="px-3 col-lg-6">
      <div class="list-container mat-elevation-z8 " style="padding: 0;margin: 0;">
        <div class="pt-2 cardHeader">
          <span class="ps-2" style="font-size: 22px; font-weight: bolder; color: rgb(105, 105, 105);"> Order № : 2301-0002</span>

          <div class="field ">
            <input type="text" [(ngModel)]="filterValueSecond" (keyup)="applyFilterSecond($event)" #input id="search"
              name="search" />
            <label for="search" title="Search" data-title="Search"></label>
          </div>
        </div>

        <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done; let j = index" cdkDrag>
            <div class="row col-lg-12" style="margin: 0;">
              <div class="col-lg-1">
                <span class="" style="color: darkorange; font-weight: bolder;">{{j+1}}.</span>
              </div>

              <!-- <div class="col-lg-3">
                <span class="col-lg-6" style="color: darkorange; font-weight: bolder;">Order № : </span> {{item.order}}
              </div> -->

              <div class="col-lg-3">
                <span style="color: darkorange; font-weight: bolder;">Overhead : </span> {{item.overhead}}
              </div>

              <div class="col-lg-3">
                <span style="color: darkorange; font-weight: bolder;">Wagon № : </span> {{item.wagon}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






</div>
