<div class=" pt-3 pb-2">

  <div cdkDropListGroup class="row " style="margin: 0;">

    <div class="px-3 col-lg-6 mt-3">
      <div class="list-container mat-elevation-z8 " style="padding: 0; margin: 0;">
        <div class="pt-2 cardHeader">
          <span class="ps-3  cardTitle"> Order № : 2301-0001</span>

          <div class="row mt-3" style="margin: 0">
            <div class="field col-lg-4">
              <input type="text" [(ngModel)]="filterValue" (keyup)="applyFilter($event)" #input id="search"
                name="search" />
              <label for="search" title="Search" data-title="Search"></label>
            </div>

            <div class="col-lg-4 select">
              <div class="field">
                <label for="statusId" title="Status" data-title="Status"></label>
                <mat-form-field class=" col-lg-12">
                  <mat-select [(ngModel)]="statusId" id="statusId" name="statusId">
                    <mat-option (click)="applyFilterStatus(1)" [value]="status.key" *ngFor="let status of statuses">
                      <div class="statusColor me-1" [style.background-color]="status.key"></div> {{status.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="field col-lg-4">
              <label for="date" title="Date" data-title="Date"></label>
              <input [(ngModel)]="date" (change)="handleFilter(1)" type="date" name="date" id="date">
            </div>

          </div>

          <div class="row col-lg-12 " style="margin: 0;">
            <div class="col-lg-1 ">
              <span class="" style="color: darkorange; font-weight: bolder;">#</span>
            </div>

            <!-- <div class="col-lg-3">
              <span class="col-lg-6" style="color: darkorange; font-weight: bolder;">Order № : </span> {{item.order}}
            </div> -->

            <div class="col-lg-2">
              <span style="color: darkorange; font-weight: bolder;">Overhead </span>
            </div>

            <div class="col-lg-2">
              <span style="color: darkorange; font-weight: bolder;">Wagon № </span>
            </div>

            <div class="col-lg-3 text-center">
              <span  style="color: darkorange; font-weight: bolder;"> Date</span>

            </div>

            <div class="col-lg-3 ">
              <span class="ms-2" style="color: darkorange; font-weight: bolder;">Status</span>
            </div>
          </div>
        </div>

        <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo; let i = index" cdkDrag>

            <div class="row col-lg-12" style="margin: 0;">
              <div class="col-lg-1">
                <span class="">{{i+1}}.</span>
              </div>

              <div class="col-lg-2">
                {{item.overhead}}
              </div>

              <div class="col-lg-2">
                {{item.wagon}}
              </div>

              <div class="col-lg-3 text-center">
                {{item.date}}
              </div>

              <div class="col-lg-3">
                <div class="statusColor ms-2 " style="width: 0.5rem; height: 0.5rem;"
                  [style.background-color]="item.status"></div> {{item.statusText}}
              </div>

              
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="px-3 col-lg-6 mt-3">
      <div class="list-container mat-elevation-z8 " style="padding: 0;margin: 0;">
        <div class="pt-2 cardHeader">
          <span class="ps-3 cardTitle"> Order № : 2301-0002</span>

          <div class="row mt-3" style="margin: 0;">
            <div class="field col-lg-4 ">
              <input type="text" [(ngModel)]="filterValueSecond" (keyup)="applyFilterSecond($event)" #input id="search"
                name="search" />
              <label for="search" title="Search" data-title="Search"></label>
            </div>

            <div class="col-lg-4 select">
              <div class="field">
                <label for="statusIdSecond" title="Status" data-title="Status"></label>
                <mat-form-field class=" col-lg-12">
                  <mat-select [(ngModel)]="statusIdSecond" id="statusIdSecond" name="statusIdSecond">
                    <mat-option (click)="applyFilterStatus(2)" [value]="status.key" *ngFor="let status of statuses">
                      <div class="statusColor me-1" [style.background-color]="status.key"></div> {{status.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="field col-lg-4">
              <label for="date" title="Date" data-title="Date"></label>
              <input [(ngModel)]="dateSecond" (change)="handleFilter(2)" type="date" name="date" id="date">
            </div>
          </div>

          <div class="row col-lg-12 " style="margin: 0;">
            <div class="col-lg-1 ">
              <span class="" style="color: darkorange; font-weight: bolder;">#</span>
            </div>

            <!-- <div class="col-lg-3">
              <span class="col-lg-6" style="color: darkorange; font-weight: bolder;">Order № : </span> {{item.order}}
            </div> -->

            <div class="col-lg-2">
              <span style="color: darkorange; font-weight: bolder;">Overhead </span>
            </div>

            <div class="col-lg-2">
              <span style="color: darkorange; font-weight: bolder;">Wagon № </span>
            </div>

            <div class="col-lg-3 text-center">
              <span style="color: darkorange; font-weight: bolder;"> Date</span>

            </div>

            <div class="col-lg-3">
              <span class="ms-2"  style="color: darkorange; font-weight: bolder;">Status</span>
            </div>
          </div>
        </div>

        <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done; let j = index" cdkDrag>
            <div class="row col-lg-12" style="margin: 0;">
              <div class="col-lg-1">
                <span class="">{{j+1}}.</span>
              </div>

              <!-- <div class="col-lg-3">
                <span class="col-lg-6" style="color: darkorange; font-weight: bolder;">Order № : </span> {{item.order}}
              </div> -->

              <div class="col-lg-2">
                {{item.overhead}}
              </div>

              <div class="col-lg-2">
                 {{item.wagon}}
              </div>

              <div class="col-lg-3 text-center">
                
                {{item.date}}
              </div>

              <div class="col-lg-3">
                <div class="statusColor ms-2 " style="width: 0.5rem; height: 0.5rem;"
                  [style.background-color]="item.status"></div> {{item.statusText}}
              </div>

              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






</div>