<div class="py-4">
    <h3>Checkboxes</h3>
    <div class="row" style="margin: 0;">
        <div class="col-lg-1 ">
            <span class="switchery switchery-default " [ngClass]="{'active': value == true, 'deactive': value== false}">
                <input type="checkbox" data-size="small" [(ngModel)]="value">
                <small (click)="this.value = !this.value"></small>
            </span>
        </div>

        <div class="col-lg-1 lineCheckBox">
            <input type="checkbox" style="display: none;" [(ngModel)]="checkLineValue" id="md_checkbox_2"
                class="chk-col-success" checked="">
            <label for="md_checkbox_2"> Checked </label>
        </div>

        <!-- s -->

    </div>


    <button id="increment" (click)="increment()">Increment</button>

    <div>Current Count: {{ count$ | async }}</div>

    <button id="decrement" (click)="decrement()">Decrement</button>

    <!-- <button id="reset" (click)="reset()">Reset Counter</button> -->


</div>