<div class="p-3">
    <h3>Enterance</h3>
    <div class="row" style="margin: 0;">
        <div class="col-lg-3 ">
            <div class="card1 cards"> </div>
        </div>

        <div class="col-lg-3 ">
            <div class="card2 cards"> </div>
        </div>

        <div class="col-lg-3 ">
            <div class="card3 cards"> </div>
        </div>

        <div class="col-lg-3 ">
            <div class="card4 cards"> </div>
        </div>
    </div>

    <h3>Exits</h3>
    <div class="row" style="margin: 10px 0 0 0;">
        <div class="col-lg-3 ">
            <div class="card5 cards"> </div>
        </div>

        <div class="col-lg-3 ">
            <div class="card6 cards"> </div>
        </div>

        <div class="col-lg-3 ">
            <div class="card7 cards"> </div>
        </div>

        <div class="col-lg-3 ">
            <div class="card8 cards"> </div>
        </div>

    </div>


</div>