<div class="mt-5 row" style="margin: 0;">

  <div class="col-lg-4 ">
    <!-- <div class=" text-center p-2 " style="border: 1px dashed #908a8a; "> -->
    <div class=" text-center p-2 mat-elevation-z8 ">
      <img src="../../../../assets/png/user2.png" style="width: 200px; height: 200px;" alt="">
      <!-- <h6 class="text-center mt-2">Junior Front-end developer</h6> -->
    </div>

    <div class="p-2">
      <div class="mt-4 workWord">
        Skills
      </div>

      <div class="mt-4 ">
        <ul class="list row ">
          <li class="col-lg-6">HTML & CSS</li>
          <li class="col-lg-6">Javascript</li>
          <li class="col-lg-6">Bootstrap</li>
          <li class="col-lg-6">Angular</li>
          <li class="col-lg-6">Angular JS</li>
        </ul>
      </div>

      <div class="mt-4 workWord">
        Experiences
      </div>

      <div class="mt-4 ">
        <ul class="list row ">
          <li class="col-lg-6">Uniser Group MMC </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-lg-8 px-3 py-2">
    <div class="row ">
      <div class="col-lg-3">
        <h4 style="margin: 0; font-weight: bolder; color: #908a8a;">
          Gulchohra Umarli
        </h4>

        <small style="color: #acdda9;">
          Junior Front-End Developer
        </small>
      </div>
      <div class="col-lg-9">
        <svg style="color: #acdda9;" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
          class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
        </svg>
        <small style="color: #908a8a;">
          Baku, Azerbaijan
        </small>
      </div>
    </div>

    <div class="row mt-3 ">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, exercitationem aut eligendi ipsum
        architecto veritatis. Iusto itaque adipisci error a dignissimos placeat, illo eum reiciendis aperiam aspernatur,
        ut perferendis recusandae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti numquam itaque distinctio quod,
        dolore ex eum magnam minus vero doloribus commodi. Repellendus atque, iste reprehenderit veniam id quo quos.
      </p>
    </div>

    <div class=" tabs ">
      <mat-tab-group class="">
        <mat-tab label="About">

          <h5 class="my-4" style="font-size: 17px ;">Contact information</h5>

          <ul class="list contactList">
            <li>
              <span class="me-3" style="font-weight: bolder; color: #908a8a;">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg>  -->
                Phone :
              </span>

              +994 70 258 44 74
            </li>
            <li>
              <span class="me-3" style="font-weight: bolder; color: #908a8a;">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-telephone-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>  -->
                Address :
              </span>

              Baku, Nasimi dist., Cavadxan 62
            </li>
            <li>
              <span class="me-3" style="font-weight: bolder; color: #908a8a;">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-telephone-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>  -->
                Email :
              </span>

              gulchohra.umarli.sh@gmail.com
            </li>
          </ul>

          <h5 class="my-4" style="font-size: 17px ;">Basic information</h5>

          <ul class="list contactList">
            <li>
              <span class="me-3" style="font-weight: bolder; color: #908a8a;">
                Birthday :
              </span>

              13 August, 2002
            </li>
            <li>
              <span class="me-3" style="font-weight: bolder; color: #908a8a;">
                Birth place :
              </span>

              Oghuz dist., Azerbaijan
            </li>
            <li>
              <span class="me-3" style="font-weight: bolder; color: #908a8a;">
                Gender :
              </span>

              Famale
            </li>
          </ul>


        </mat-tab>
        <mat-tab label="Skills">
          <div class="mt-4 col-lg-10">
            HTML & CSS
            <div class="progress mb-3">
              <div class="progress-bar bg-progress" role="progressbar" style="width: 90%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            Bootstrap
            <div class="progress mb-3">
              <div class="progress-bar bg-progress" role="progressbar" style="width: 70%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            Javascript
            <div class="progress mb-3">
              <div class="progress-bar bg-progress" role="progressbar" style="width: 75%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            Angular 
            <div class="progress mb-3">
              <div class="progress-bar bg-progress" role="progressbar" style="width: 60%" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>

  </div>

</div>
